* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Space Grotesk", sans-serif;
  font-size: 12px;
  color: #F7F7F7;
  background-color: #1A202C;
  max-width: 100vw;
  max-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: radial-gradient(ellipse at bottom left,
      #034a2f,
      #05100c,
      #05100c);
}

button {
  appearance: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border-width: 0;
  outline-width: 0;
  background-color: #00FF9C;
}

button:hover {
  background-color: #72FFC8;
}

button:disabled {
  background-color: #F7F7F7;
}

.btn-secondary {
  background-color: #F7F7F7;
  border: 1px solid #222C28
}

header {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  color: #fff;
}

header h1::first-letter {
  color: #00FF9C;
}

.expand {
  flex-grow: 1;
}

.p-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
}

article {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding-top: 1rem;
}

.news {
  flex-grow: 1;
  overflow: auto;
  max-height: 62vh;
}

article h2,
p {
  margin: 0 auto;
}

article button {
  margin: 0 0 0 auto;
}

footer {
  padding: 0.5rem;
  text-align: center;
}

.dialog {
  flex-grow: 0;
  margin: auto;
  border: 1px solid #00FF9C;
  border-radius: 1.5rem;
  padding: 0 1rem;
  box-shadow: -0.125rem -0.125rem 1rem #72FFC8;
}

.dialog h1 {
  text-align: center;
  padding: 2rem 0;

}

.dialog input {
  margin: 0 0 1rem 0;
}

.dialog div {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-content: space-between;
  gap: 1rem;
}

input {
  background-color: #222C28;
  color: #F7F7F7;
  border: 1px solid #222;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

input:focus-visible {
  border-color: #72FFC8;

  outline: none;
}

.toolbox {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-top: auto;
}

.flex-grow {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tools {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: auto;
}

section {
  border: 1px dashed #00FF9C;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

section p {
  margin: auto 0;
  flex-grow: 1;
}

.selected {
  border-style: solid;
}
